.mini-toastr__notification {
	padding-left: 50px;
	position: relative;

	.mini-toastr-notification__icon {
		position: absolute;
		font-size: 36px;
		top: 12px;
		left: 12px;
	}

	.mini-toastr-notification__message {
		width: 250px;
		padding: 0;
	}
}

.input-group.is-invalid {
	.form-control {
		border-color: $danger;
	}

	.input-group-prepend span {
		background-color: $danger;
		border-color: $danger;
		color: $white;
	}
}

.form-group {
	&.is-invalid {
		label.col-form-label {
			color: $red;
		}
	}

	&[required] label.col-form-label:after {
		content: '*';
		display: inline-block;
		margin-left: 4px;
		line-height: 1;
		font-family: SimSun;
		font-size: 12px;
		color: #ed3f14;
	}

	.is-invalid .input-group-text {
		background-color: #ed3f14;
		border-color: #ed3f14;
		color: #FFF;
	}

	.input-group.is-invalid~.invalid-feedback {
		padding-left: 0px !important;
	}
}

.form-group {
	&.is-invalid {
		>label {
			color: $red;
		}
	}

	&[required]>label:after {
		content: '*';
		display: inline-block;
		margin-left: 4px;
		line-height: 1;
		font-family: SimSun;
		font-size: 12px;
		color: #ed3f14;
	}
}

.input-group.is-invalid~.invalid-feedback {
	display: block;
	font-size: 90%;
	padding-left: 40px;
}

.d-block {
	display: block !important;
}

.text-decoration-none {
	text-decoration: none !important;
}

.swal2-popup {
	#swal2-content {
		line-height: 1.6;
		text-align: left;
		text-indent: 2em;
		font-size: 95%;
	}

	.swal2-styled.swal2-confirm {
		background-color: $blue !important;
		border-color: $blue !important;
	}
}

.text-black {
	color: black !important;
}

.border-bottom-none {
	border-bottom: none;
}

a,
a:hover {
	text-decoration: none;
}


.btn-group-xs>.btn,
.btn-xs {
	// padding: .25rem .4rem;
	// font-size: .875rem;
	padding: .15rem 0.25rem;
	font-size: .75rem;
	line-height: .5;
}

table[aria-busy="true"] button {
	pointer-events: none;
	cursor: default;
}

.table-operation {
	.ivu-table-cell {
		padding-left: 5px;
		padding-right: 5px;
		overflow: visible !important;

		.btn-more {
			font-family: 'Font Awesome 5 Pro';
			font-weight: 900;
			font-size: inherit;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			display: inline-block;

			&::before {
				content: "\F085";
				box-sizing: border-box;
			}

			&::after {
				display: none;
			}
		}

		.dropdown-item {
			padding: 5px 10px;
		}
	}
}

.cursor-pointer {
	cursor: pointer;
}

.cursor-move {
	cursor: move;
}

.cursor-not-allowed {
	cursor: not-allowed
}

.border-none {
	border: none;
}

a.disabled {
	color: #AAA;
}

.justify-content-flex-end {
	justify-content: flex-end;
}

.justify-content-center {
	justify-content: center;
}

.flex-direction-row {
	flex-direction: row;
}

.flex-direction-row-reverse {
	flex-direction: row-reverse;
}

.align-items-flex-end {
	align-items: flex-end;
}

.swal2-popup #swal2-content {
	padding-left: 15px;
	padding-right: 15px;
	text-indent: 0em !important;
	text-align: left !important;
}

// .custom-select {
//   -webkit-appearance: none;
//   -moz-appearance: none;
// }