.uppy-Dashboard-dropFilesTitle {
	.uppy-Dashboard--wide & {
		font-size: 16px;
	}
}

.uppy-Dashboard-poweredBy {
	display: none;
}

.uppy-Dashboard-dropFilesTitle {
	font-size: 12px !important;
}

.uppy-DashboardTabs-title {
	font-size: 14px !important;
}

.uppy-Informer {
	height: auto !important;

	p {
		height: auto !important;
	}
}